#datatable {
    background-color: #4d4d4d;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    margin: 15px;
    padding: var(--datatable-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

.subtitle {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: var(--subtitle-font-size);
}

td {
    font-size: var(--data-font-size);
    text-align: center;
    padding: 0.2em;
    border-right: var(--grid-line-width) solid black;
}

td:last-child {
    border-right: none;
}

th {
    padding: .2em;
    font-weight: bold;
    font-size: var(--head-font-size);
    text-align: center;
    border-bottom: var(--grid-line-width) solid black;
    border-right: var(--grid-line-width) solid black;
}

th:last-child {
    border-right: none;
}

h1 {
    font-size: var(--heading-font-size);
    font-weight: bold;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.output-table {
    border-collapse: collapse;
    max-width: 100%;
}

select {
    font-weight: bold;
    font-size: var(--head-font-size);
    box-sizing: border-box;
    outline: none;
    border: none;
    padding-right: .7em;
    -webkit-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330" style="enable-background:new 0 0 330 330;" xml:space="preserve"><path id="XMLID_225_" d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" stroke="black" stroke-width="15"/></svg>') no-repeat right #4d4d4d;
    background-size: 16px 16px;
    background-position-x: 96%;
}

option {
    padding: 2px 4px;
}

.button {
    background-color: #666;
    cursor: pointer;
    font-size: 30px;
    margin: 10px 5px;
    padding: 7px 15px;
    border: 3px solid #000;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0;
    outline: none;
}

.button:hover {
    border: 3px solid #333;
}

.button:active {
    position: relative;
    top: 3px;
}

.clickable-text {
    cursor: pointer !important;
}

.clickable-text:hover {
    text-decoration: underline;
}