@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

:root {
    --font: "Source Sans Pro";
    --data-font-size: 14px;
    --grid-line-width: 2px;
    --head-font-size: 14px;
    --heading-font-size: 25px;
    --subtitle-font-size: 0;
    --datatable-padding: .3em .3em;
    --copyright-font-size: 14px;
    --copyright-br-state: static;
    --select-arrow-size: 8px;
    --modal-padding-top: 100px;
    --modal-padding: 3px 5px 1px 5px;
    --graph-width: 19em;
    --modal-font-size: 18px;
    --graph-margin: 5px 6px;
}

@media screen and (min-width: 350px){
    :root {
        --heading-font-size: 30px;
        --subtitle-font-size: 12px;
        --select-arrow-size: 9px;
    }
}

@media screen and (min-width: 550px){
    :root {
        --graph-width: 30em;
        --modal-padding: 10px;
        --graph-margin: 5px 10px;
    }
}

@media screen and (min-width: 730px){
    :root {
        --graph-width: 40em;
        --modal-font-size: 24px;
    }
}

@media screen and (min-width: 700px){
    :root {
        --data-font-size: 20px;
        --head-font-size: 28px;
        --heading-font-size: 45px;
        --subtitle-font-size: 14px;
        --grid-line-width: 4px;
        --datatable-padding: .5em .7em;
        --copyright-font-size: 16px;
        --copyright-br-state: none;
        --select-arrow-size: 14px;
    }
}

@media screen and (min-width: 1000px){
    :root {
        --data-font-size: 30px;
        --head-font-size: 40px;
        --heading-font-size: 60px;
        --subtitle-font-size: 16px;
        --grid-line-width: 5px;
        --datatable-padding: 1em;
        --select-margin: 0;
        --copyright-font-size: 18px;
        --select-arrow-size: 16px;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: var(--font);
    font-weight: 500;
}