@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

:root {
    --font: "Source Sans Pro";
    --data-font-size: 10px;
    --grid-line-width: 2px;
    --head-font-size: 12px;
    --heading-font-size: 25px;
    --subtitle-font-size: 0;
    --datatable-padding: .3em .5em;
    --select-margin: 0 -.1em;
}

@media screen and (min-width: 430px){
    :root {
        --select-margin: 0;
        --subtitle-font-size: 12px;
    }
}

@media screen and (min-width: 700px){
    :root {
        --data-font-size: 20px;
        --head-font-size: 28px;
        --heading-font-size: 45px;
        --subtitle-font-size: 14px;
        --grid-line-width: 4px;
        --datatable-padding: .5em .7em;
    }
}

@media screen and (min-width: 1000px){
    :root {
        --data-font-size: 30px;
        --head-font-size: 40px;
        --heading-font-size: 60px;
        --subtitle-font-size: 16px;
        --grid-line-width: 5px;
        --datatable-padding: 1em 2em;
        --select-margin: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: var(--font);
    font-weight: 500;
}